.h1{
    text-align: center;
}

.header{
    align-content: center;
}

main{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.locsearch{
    width: 97%;
    padding: 5px;
    
}
